@media screen and (min-width:768px) {

body {
  margin: 0;
  color: #111e27;
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #111e27;
  margin-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#logo img {
  width: 150px;
  height: auto;
  margin: 0 20px;
}
nav {
  width: 70%;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid #111e27;
 }
.slider {
  width: 100%;
  margin: 0;
}
.slider-img {
  width: 100%;
}
.slider-img:hover {
  opacity: 0.8;
}
.products-box {
  padding-bottom: 20px;
}
.products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-container__product img {
  width: 250px;
  height: auto;
  border-radius: 4px;
}
h3 {
  width: 95%;
  font-size: 22px;
  margin: 50px auto;
  text-align: center;
  font-weight: normal;
}
.cta {
  display: block;
  width: 120px;
  height: 50px;
  background-color: #fff;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto;
}
.cta:hover {
  box-shadow: 2px 2px 1px 1px #aca9a9;
  opacity: 0.8;
}
.baner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.baner-container .baner {
  width: 100%;
  height: auto;
  box-shadow: 8px 8px 4px 4px #aca9a9;
}
.baner-container .baner:hover {
  opacity: 0.8;
}
.baner-img {
  margin: 20px;
}
footer {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: rgb(34, 31, 31);
  color: #fff;
}
.footer-content {
  height: 80%;
  display: flex;
  align-items: center;
}
.footer-container {
  width: 50%;
  margin: auto;
  color: #fff;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
h6 {
  font-weight: 200;
  position: absolute;
  margin-bottom: 0;
  left: 20px;
  bottom: 10px;
  color: #aca9a9;
}
}
body {
  margin: 0;
  color: #111e27;
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
.container {
  width: 100%;
  padding: .4em;
  border-bottom: 1px solid #111e27;
}
#logo img {
  width: 100%;
}
#logo {
  width: 40%;
  margin: 0 auto;
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.slider {
  width: 100%;
  margin: 1em 0;
}
.slider img {
  width: 100%;
}
.products-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products-container__product {
flex: 1 1 auto;
margin-bottom: .5em;
}
.products-container__product img {
  border-radius: 4px;
  width: 140px;
} 
.wide {
  width: 100%;
}
h3 {
  width: 95%;
  font-size: 1em;
  margin: 1.5em auto;
  text-align: center;
}
.cta {
  display: block;
  width: 50%;
  height: 4em;
  background-color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: .5em auto;
}
.baner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.baner-img {
  margin: 1em auto;
}
.baner-container .baner {
  width: 280px;
  box-shadow: 4px 4px 2px 2px #aca9a9;
}
footer {
  width: 100%;
  height: 80px;
  background-color: rgb(34, 31, 31);
  color: #fff;
  margin-bottom: 0;
}
.footer-container {
  width: 80%;
  padding: 1em;
  color: #fff;
  margin: 0 auto;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
.copy {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 0.6em;
}
